body{
	font-family: Brush Script MT, Brush Script Std, cursive;
	background-color : #000000;
	color: #F7F375;
	width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}
li{
	color: #00FFFF;
}
